.diagram {
    display: block;
    position: relative;
    height: 360px;
    margin: 50px 0;
    overflow: hidden;
}

.dn-diagram-in {
    float: left;
    margin-left: 50px !important;
}

.dn-diagram-hidden {
    color: #777;
}

h2, .tensorflow, .dn-diagram-in {
    color: #E05E30 !important;
}

ul {
    margin-top: 20px !important;
}

.orange-dot {
    background-color: #E05E30;
}

.green-dot {
    background-color: #3c9f3d;
}

.dn-diagram-out {
    color: #444488;
    float: right;
    margin-right: 50px !important;
}

.blue {
    color: #444488; 
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

span.lr-x {
    bottom: -5px;
    left: calc(50% - 30px);
}

span.lr-y {
    left: 160px;
    top: 130px;
    transform: rotate(-90deg)
}

span.lr-x, span.lr-y {
    position: absolute;
    color: #8B8B8B;
}

span.label {
    color: #8B8B8B;
    margin: 0 20px;
}

span.dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    margin: 3px 15px;
}

#decision-trees-diagram div {
    color: #BBB;
    position: absolute;
    border: 2px solid #BBB;
    padding: 15px;
    border-radius: 10px;
}

#decision-trees-diagram span {
    position: absolute;
    display: block;
    border: 2px solid #666;
    width: 107px;
    top: 50px;
    height:47px;
    font-size: 0.7em;
    font-weight: bold;
    padding: 0 15px;
    box-sizing: border-box;
    color: #666;
}

span.yes {
    left: -110px;
    border-width: 2px 0 0 2px !important;
    text-align: left;
    border-radius: 10px 0 0 0;
}

span.no {
    right: -110px;
    border-width: 2px 2px 0 0 !important;
    text-align: right;
    border-radius: 0 10px 0 0;
}


#dt-q1 {
    top: 0;
    left: 260px;
}

#dt-r1 {
    top: 100px;
    left: 100px;
}

#dt-q2 {
    top: 100px;
    left: 500px;
}

#dt-r2 {
    top: 200px;
    left: 830px;
}

#dt-q3 {
    top: 200px;
    left: 250px;
}

#dt-r3 {
    top: 300px;
    left: 70px;
}

#dt-q4 {
    top: 300px;
    left: 505px;
}

#dt-r4 {
    top: 400px;
    left: 830px;
}

#dt-r5 {
    top: 400px;
    left: 320px;
}

div.bad {
    color: #E05E30 !important;
    border-color: #E05E30 !important;
}

div.good {
    color: #3c9f3d !important;
    border-color: #3c9f3d !important;
}

#error-plot {
    position: absolute;
    left: 60px;
}
